.card_feature{
    border-radius: 0;
    box-shadow:
    inset 0 0em 0em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 0;
    stroke: rgb(228,225,225);
}

.pro_gress{
    height: auto;
    width: 130px !important;
}

.dess{
    text-align: center;
    color: gray;
    font-size: 13px;
}