@media screen and (max-width : 991px) {
    .col_reverse{
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.data{
    position: fixed;
}

.img_fluid2{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    border: 1px solid #000;
}

.status1{
    padding: 5px;
    border-radius: 5px;

    &.active{
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
    }

    &.passive{
        color: crimson;
        background-color: #cb61131a;
    }

    &.pending{
        color: goldenrod;
        background-color: #cb61131a;
    }
}

.btn_primary{
    /* background-color: crimson; */
    color: darkblue !important;
    border: 1px dotted rgba(0,0,139,0.596);
    border-radius: 2rem;
    font-size: 15px;
}

.btn__primary{
    color: crimson !important;
    border: 1px dotted rgba(220,20,60,0.6);
    border-radius: 2rem;
    font-size: 15px;
}